# Ignorar dependências locais (O Docker fará o seu próprio npm install)
node_modules
npm-debug.log

# Ignorar pastas de Build locais
dist
build

# Ignorar ficheiros do Git
.git
.gitignore

# Ignorar ficheiros de configuração do editor e SO
.vscode
.idea
.DS_Store
Thumbs.db

# Ignorar o próprio ficheiro de configuração do Docker
Dockerfile
docker-compose.yml
.dockerignore

# Ignorar logs
*.log
