# Dependências - Garante que ignore em qualquer profundidade
node_modules/
**/node_modules/
package-lock.json
**/package-lock.json
.vite/


# Variáveis de Ambiente
.env
.env.*
**/ .env*

# Docker
.docker/


# docker-data/
