# Dependências
node_modules/
.pnp
.pnp.js

# Produção / Build
dist/
build/

# Logs e Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# Variáveis de Ambiente (Sempre ignorar segredos!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDEs / Editores (Comum no setup do DHH)
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Docker
.docker/
